# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/Hint codes/Exponentiation/nbproject/private/
/Hint codes/Exponentiation/build/

*.exe

*.*~
*~

